{% extends "base.html" %} {% block content %} {% block head %}
<title>PROMOTIONS</title>
{% endblock %}
<h1>GESTION-PROMOTION</h1>
<form action='promotions/index' method='GET'>
    <button type='submit'> INDEX </button>
</form>

<form action='promotions/displayCreate' method='POST'>
    {% csrf_token %}
    <button type='submit'> CREATE </button>
</form>

<form action='promotions/displayUpdate' method='POST'>
    {% csrf_token %}
    <button type='submit'> UPDATE </button>
</form>

<form action='promotions/displayDelete' method='POST'>
    {% csrf_token %}
    <button type='submit'> DELETE </button>
</form>

<h1>CRM</h1>
<form action='{{ HTTP_HOST }}/admin/crm/indexcrm' method='GET'>
    <button type='submit'> INDEX CRM </button>
</form>

<form action='{{ HTTP_HOST }}/admin/crm/loadcrm' method='GET'>
    {% csrf_token %}
    <button type='submit'> LOAD CRM </button>
</form>

<h1>CATALOGUE-PRODUIT</h1>
<form action='{{ HTTP_HOST }}/admin/product/indexproduct' method='GET'>
    <button type='submit'> INDEX PRODUCT </button>
</form>

<form action='{{ HTTP_HOST }}/admin/product/loadproduct' method='GET'>
    {% csrf_token %}
    <button type='submit'> LOAD PRODUCT </button>
</form>

{% endblock %}