{% extends "base.html" %} {% block content %} {% block head %}
<title>PROMOTIONS</title>
{% endblock %}

<div style="margin: 20px;">
    <h1>GESTION-PROMOTION</h1>

    <form action='{{ HTTP_HOST }}/promo/ecommerce/indexpromoeco' method='GET'>
        <button type='submit'> INDEX PROMO ECOMMERCE </button> Afficher toutes les promotions d'ecommerce enregistrées dans l'application
    </form>
    <form action='{{ HTTP_HOST }}/promo/ecommerce/calc' method='GET'>
        {% csrf_token %}
        <button type='submit'> LOAD PROMO ECOMMERCE </button> Charger deux promotions ecommerce
    </form>
    <br>
    <form action='{{ HTTP_HOST }}/promo/magasin/indexpromomag' method='GET'>
        <button type='submit'> INDEX PROMO MAGASIN </button> Afficher toutes les promotions de magasin enregistrées dans l'application
    </form>
    <form action='{{ HTTP_HOST }}/promo/magasin/calc' method='GET'>
        {% csrf_token %}
        <button type='submit'> LOAD PROMO MAGASIN </button> Charger deux promotions magasins
    </form>
    <br>
    <form action='{{ HTTP_HOST }}/promo/customers/indexpromocustomers' method='GET'>
        <button type='submit'> INDEX PROMO CUSTOMERS </button> Afficher toutes les promotions ciblées clients enregistrées dans l'application
    </form>
    <form action='{{ HTTP_HOST }}/promo/customers/calc' method='GET'>
        <button type='submit'> LOAD PROMO CUSTOMERS </button> Afficher toutes les promotions ciblées clients enregistrées dans l'application
    </form>
    
    <h1>CRM</h1>
    <form action='{{ HTTP_HOST }}/admin/crm/indexcrm' method='GET'>
        <button type='submit'> INDEX CRM </button> Afficher tous les clients enregistrés dans l'application
    </form>
    
    <form action='{{ HTTP_HOST }}/admin/crm/loadcrm' method='GET'>
        {% csrf_token %}
        <button type='submit'> LOAD CRM </button> Charger tous les clients provenants de l'application CRM et de les enregistrer dans cette application
    </form>
    
    <h1>CATALOGUE-PRODUIT</h1>
    <form action='{{ HTTP_HOST }}/admin/product/indexproduct' method='GET'>
        <button type='submit'> INDEX PRODUCT </button> Afficher tous les produits enregistrés dans l'application
    </form>
    
    <form action='{{ HTTP_HOST }}/admin/product/indexproducteco' method='GET'>
        <button type='submit'> INDEX PRODUCT ECOMMERCE </button> Afficher tous les produits ecommerces enregistrés dans l'application
    </form>
    
    <form action='{{ HTTP_HOST }}/admin/product/indexproductmag' method='GET'>
        <button type='submit'> INDEX PRODUCT MAGASIN </button> Afficher tous les produits magasins enregistrés dans l'application
    </form>
    
    <form action='{{ HTTP_HOST }}/admin/product/loadproduct' method='GET'>
        {% csrf_token %}
        <button type='submit'> LOAD PRODUCT </button> Charger tous les produits provenants de l'application catalogue-produit et de les enregistrer dans cette application
    </form>
    
    <h1>SCHEDULER</h1>
    <form action='{{ HTTP_HOST }}/admin/refresh' method='POST'>
        {% csrf_token %}
        <button type='submit'> REFRESH DATAS </button>
        <br>Programme plusieurs tâches :
            <br><span style="padding-left: 25px">- actualisation des données :</span>
            <br><span style="padding-left: 50px">- catalogue-produit</span>
            <br><span style="padding-left: 50px">- crm</span>
            <br><span style="padding-left: 25px">- créé deux promotions produits aléatoires :</span>
            <br><span style="padding-left: 50px">- magasin</span>
            <br><span style="padding-left: 50px">- e-commerce</span>
            <br><span style="padding-left: 25px">- créé des promotions ciblées clients</span>
    </form>
    
    <h1>DELETE ALL DATAS FROM ALL DATABASES</h1>
    <form action='{{ HTTP_HOST }}/admin/clear' method='POST'>
        {% csrf_token %}
        <button type='submit'> CLEAR ALL </button> Supprimer TOUTES les données enregistrées dans l'application /!\ Attention cette action est irréversible /!\
    </form>
</div>
{% endblock %}