{% extends "base.html" %} {% block content %}
<table>
    <tr>
        <th>id</th>
        <th>codeProduit</th>
        <th>familleProduit</th>
        <th>descriptionProduit</th>
        <th>quantiteMin</th>
        <th>packaging</th>
        <th>prix</th>
        <th>prixOriginel</th>
        <th>reduction</th>
    </tr>
{% for c in list_products %}
<tr>
    <th>{{ c.id }}</th> 
    <th>{{ c.codeProduit }}</th> 
    <th>{{ c.familleProduit }}</th> 
    <th>{{ c.descriptionProduit }}</th> 
    <th>{{ c.quantiteMin }}</th> 
    <th>{{ c.packaging }}</th> 
    <th>{{ c.prix }}</th> 
    <th>{{ c.prixOriginel }}</th> 
    <th>{{ c.reduction }}</th> 
    <th>{{ value|linebreaks }}</th>
</tr>
{% endfor %}
</table>
{% endblock%}