{% extends "base.html" %} {% block content %}
{% load tags %}
<div style="margin: 20px;">
    <table class="table table-bordered table-dark table-hover">
        <tr>
            <th>id</th>
            <th>date</th>
            <th>prix</th>
            <th>client</th>
            <th>pointsFidelite</th>
            <th>modePaiement</th>
        </tr>
    {% for c in list_tickets %}
    <tr>
        <th>{{ c.id }}</th> 
        <th>{{ c.date }}</th> 
        <th>{{ c.prix|div:100}}</th> 
        <th>{{ c.client }}</th> 
        <th>{{ c.pointsFidelite }}</th> 
        <th>{{ c.modePaiement }}</th>

        <tr>
            <th>codeProduit</th>
            <th>quantity</th>
        </tr>
        {% for a in c.articles.all %}
        <tr>
                <th>{{ a.codeProduit }}</th>
                <th>{{ a.quantity }}</th>
        </tr>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock%}