{% extends "base.html" %} {% block content %}
{% load tags %}
<div style="margin: 20px;">
    <table class="table table-bordered table-dark table-hover">
        <tr>
            <th>id</th>
            <th>codeProduit</th>
            <th>familleProduit</th>
            <th>descriptionProduit</th>
            <th>quantiteMin</th>
            <th>packaging</th>
            <th>prix</th>
            <th>exclusivite</th>
        </tr>
    {% for c in list_products %}
    <tr>
        <th>{{ c.id }}</th> 
        <th>{{ c.codeProduit }}</th> 
        <th>{{ c.familleProduit }}</th> 
        <th>{{ c.descriptionProduit }}</th> 
        <th>{{ c.quantiteMin }}</th> 
        <th>{{ c.packaging }}</th> 
        <th>{{ c.prix|div:100 }}</th>
        <th>{{ c.exclusivite }}</th>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock%}