{% extends "base.html" %} {% block content %}
<div style="margin: 20px;">
    <table class="table table-bordered table-dark table-hover">
        <tr>
            <th>id</th>
            <th>IdClient</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Credit</th>
            <th>Paiement</th>
            <th>Compte</th>
            <th>carteFid</th>
        </tr>
    {% for c in list_customers %}
    <tr>
        <th>{{ c.id }}</th> 
        <th>{{ c.IdClient }}</th> 
        <th>{{ c.Nom }}</th> 
        <th>{{ c.Prenom }}</th> 
        <th>{{ c.Credit }}</th> 
        <th>{{ c.Paiement }}</th> 
        <th>{{ c.Compte }}</th> 
        <th>{{ c.carteFid }}</th>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}